@use '@angular/material' as mat;
@use "ngx-toastr/toastr";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}
body {
  color-scheme: light;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  margin: 0;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  background: #a7ebfa;
  background: linear-gradient(180deg, rgba(167, 235, 250, 1) 0%, rgba(255, 255, 255, 1) 100%);
}
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
