.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5rem;
  height: 10vh;
  h1 {
    a {
      font-size: 32px;
    }
  }
  a {
    text-decoration: none;
    font-weight: bold;
    padding-left: 2rem;
    font-size: 16px;
    color: black;
  }
  .todo-stats {
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
}
