.wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5rem;
    height: 10vh;
    .todo-stats{
        font-size: 16px;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
}