.todos-container {
  padding: 16px;
}
.todos-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(150px, auto);
  gap: 16px;
}
mat-paginator{
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 20px;
}